/*

Tera CSS
Version 2.5
Made by Themanoid

	TABLE OF CONTENTS
	_________________

	00. Presets
	01. General
	02. Typography
	03. Elements
	04. Sections
	05. Slider
	06. Portfolio
	07. Modes
	08. Lightbox

*/
/*-----------

 	00 Presets

-------------*/
::selection {
  background: yellow;
  color: #403E3B; }

::-moz-selection {
  background: yellow;
  color: #403E3B; }

* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

/*-----------

	01 General

-------------*/
html, body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background: #5D6774;
  color: #5D6774;
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: inline-block; }
  @media screen and (max-width: 767px) {
    html, body {
      font-size: 14px; } }
  @media screen and (min-width: 1300px) {
    html, body {
      font-size: 18px; } }

body {
  overflow-x: hidden; }

  header {
    padding:25px 0;
  }

/*-----------

	02 Typography

-------------*/
a {
  color:#5D6774;
}

h1, h2, h3, h4, h5, h6 {
  color: #5D6774;
  font-weight: normal; 
  transition: all 0.15s ease-out; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 100; }

h3 {
  margin-bottom: 20px;
  font-weight: 300; }

h4 {
  font-family: "Inconsolata", sans-serif;
  font-weight: 400;
  font-size: 1em;
  border-bottom: 1px solid #403E3B;
  padding-bottom: 5px; }

p {
  font-size: .9em;
  line-height: 1.6em;
  font-family: "Inconsolata", sans-serif;
  color: #888;
  margin: 10px 0 30px 0; }
  p a {
    font-weight: bold; }

blockquote {
  border-left: 1px solid #bbb;
  width: 100%;
  border-right: 1px solid #bbb;
  text-align: center;
  margin-bottom: 40px; }

strong {
  font-weight: bold;
  color: #403E3B; }
.main-section {
  height:100%;
}
.project-list {
  float:left;
  padding:0 65px;
  overflow-y: scroll;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  min-height:400px;
}
.project-list.hide-list {
  opacity:0.2;
  pointer-events: none;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.project-header {
  color:#fff;
  font-weight:700;
  font-size:40px;
  margin:50px 0;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
  float:left;
}
.screen-list-item, .new-screen-list-item {
  display:block;
  clear: left;
  margin-bottom:20px;
  border-radius:5px;
  position:relative;
  height: 113px;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.new-screen-button-image {
  width:200px;
  height:112px;
  border-radius: 6px;
  background-color: rgba(255,255,255,0.1);
  display: block;
  float:left;
}
.screen-list-item:hover .new-screen-button-image, .screen-list-item.active .new-screen-button-image, .new-screen-list-item:hover .new-screen-button-image, .new-screen-list-item.active .new-screen-button-image {
  border-radius: 6px 0 0 6px;
}
.screen-list-item-metadata {
  float: left;
  color:#fff;
  margin-left:220px;
}
.screen-list-item-metadata h1, .screen-list-item-metadata h5 {
  color:#fff;
}
.screen-list-item-metadata.no-image {
  margin-left: 20px;
}
.screen-list-item-remote {
  float:right;
  height:60px;
  width:27px;
  display:block;
  margin-right:30px;
  margin-top:27px;
  background-image:url('../images/remote-inactive.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  transition: all 0.15s ease-out;
  position:relative;
}
.screen-list-item:hover, .screen-list-item.active, .new-screen-list-item:hover, .new-screen-list-item.active {
  background-color:rgba(255,255,255,0.1);
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.screen-list-item:hover .screen-list-item-remote, .screen-list-item.active .screen-list-item-remote, .new-screen-list-item:hover .screen-list-item-remote, .new-screen-list-item.active .screen-list-item-remote {
  background-image:url('../images/remote-active.png');
  transition: all 0.15s ease-out;
}
.new-screen-list-item {
  display:none;
}
.screen-list-item-button {
  position:absolute;
  width:6px;
  height:6px;
  display:block;
  background-color:transparent;
  -webkit-border-radius: 100px; 
  -moz-border-radius: 100px; 
  border-radius: 100px; 
  transition: all 0.15s ease-out;
}
.screen-list-item .screen-list-item-button.active {
  background-color:#50E3C2;
  transition: all 0.15s ease-out;
}
#screen-list-item-remote-up {   
    top: 10px;
    left: 10px;
}
#screen-list-item-remote-left {
    top: 16px;
    left: 5px;
}
#screen-list-item-remote-right {
    top: 16px;
    left: 15px;
}
#screen-list-item-remote-down{
    top: 22px;
    left: 10px;
}
#screen-list-item-remote-back {
    top: 33px;
    left: 5px;
}
#screen-list-item-remote-ok {
    top: 33px;
    left: 15px;
}
#screen-info {
  display:none;
}
#screen-info .screen-direction {
  opacity:1;
  transition: all 0.15s ease-out;
  border:1px solid transparent;
}
#screen-info.active .screen-direction {
  opacity:0.3;
  transition: all 0.15s ease-out;
}
#screen-info.active .screen-direction.active, #screen-info.active .screen-direction:hover  {
  opacity:1;
  transition: all 0.15s ease-out;
}
.screen-list-item h1, .new-screen-list-item h1 {
    margin-top: 33px;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0;
}
.new-screen-list-item h1 {
  margin-top:40px;
}
.screen-list-item-metadata h5 {
  margin-top:5px;
  font-style: italic;
  font-size: 12px;
  opacity:0.7;
}
.screen-list-image {
  float:left;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.15);
  max-width:200px;
  margin-right:25px;
  border-radius:5px;
  position:absolute;
  top:0;
  left:0;
   -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.screen-list-item.active img, .screen-list-item:hover img {
  box-shadow: 0 0 0 rgba(0,0,0,0);
  border-radius:5px 0 0 5px;
}
img.screen-list-image:hover {
  max-width:380px;
  top:-40px;
  left:-60px;
  z-index:1000;
  border-radius:5px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.screen-details-bg {
  background-color:#fff;
  width:400px;
  float:right;
  overflow-y: scroll;
  z-index: 100;
  position: relative;
  min-height:400px;
  padding-bottom:100px;
}
.screen-direction img, .screen-direction input { 
  width:100%;
  border-radius: 6px;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  border:1px solid transparent;
}
.screen-direction:hover img, .screen-direction.active img {
  border:1px solid #50E3C2;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.screen-direction {
    width: 140px;
    margin-bottom: 10px;
    float: left;
    margin-left: 10px;
}
#screen-left, #screen-back {
  clear: left;
  margin-left: 55px;
}
#screen-up {
  clear:left;
}
#screen-up, #screen-down {
  margin-left:130px;
}
.screen-direction input {
  display:none; }

.screen-direction span {
  font-size:12px;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.15s ease-out;
  width: 138px;
  display: block;
  margin-top: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
  background-image: url('../images/screen-dropdown.png');
  background-position: center right;
  background-size: auto 70%;
  background-repeat: no-repeat;
}
.screen-direction:hover span, .screen-direction.active span { 
  color:#50E3C2;
  background-image: url('../images/screen-dropdown-active.png');
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.15s ease-out;
}
#screen-input-title {
    width: 100%;
    padding: 15px 19px;
    margin: 0;
    border: 0;
    border-bottom: 2px solid rgba(0,0,0,0.05);
    font-size: 25px;
    font-weight: 100;
}
.button-index {
  padding:20px;
}
.button-index h5 {
  float:right;
  color:#B9BCC0;
  font-size:14px;
  font-style: italic;
  margin-top:21px;
}
.button-remote {
  float:left;
  border:1px solid #D3D3D4;
  border-radius: 200px;
  width:31px;
  height:65px;
  position:relative;
}
.button-remote-button {
  width:8px;
  height:8px;
  border-radius:100px;
  border:1px solid #D3D3D4;
  display: block;
  position:absolute;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.15s ease-out;
}
.button-remote-button.active {
  border:1px solid #50E3C2;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.15s ease-out;
}
.button-remote-button.hover {
  background-color:#D3D3D4;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.15s ease-out;
}
.button-remote-button.active.hover, .button-remote-button.selected {
  border:1px solid #50E3C2;
  background-color:#50E3C2;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.15s ease-out;
}
.button-remote-up {
  top:7px;
  left:10px;
}
.button-remote-left {
  top:16px;
  left:4px;
}
.button-remote-right {
  top:16px;
  left:17px;
}
.button-remote-down {
  top:24px;
  left:10px;
}
.button-remote-back {
  top:41px;
  left:5px;
}
.button-remote-ok {
  top:41px;
  left:16px;
}
.screen-action-button {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color:#50E3C2;
  border:0;
  color:#fff;
  padding:20px 0;
  text-align: center;
  width:270px;
}
#screen-delete-button {
  position: fixed;
  bottom: 0;
  right: 271px;
  background-color:#292D33;
  border:0;
  color:#fff;
  padding:20px 0;
  text-align: center;
  width:129px;
}
#screen-save-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color:#50E3C2;
  border:0;
  color:#fff;
  padding:20px 0;
  text-align: center;
  width:400px;
}
.screen-select-modal {
  position:absolute;
  top:0;
  right:0;
  width:400px;
  background-color:#292D33;
  z-index:5;
  overflow-y: scroll;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.15s ease-out;
  min-height:400px;
}
.screen-select-modal.active {
  right:400px;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.15s ease-out;
}
.screen-select-modal h5 {
    color: #828588;
    font-size: 14px;
    font-style: italic;
    margin: 30px 0 30px 30px;
}
.button-select-list {
    width: 100%;
    padding: 10px 30px;
}
.button-select-list img {
  border-radius: 6px;
  border:1px solid transparent;
}
.button-select-list:hover img {
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.15s ease-out;
    box-shadow: 3px 3px 15px rgba(0,0,0,0.5);
}
.button-select-list:hover h6 {
  color:#50E3C2;
  transition: all 0.15s ease-out;
}
.button-select-list.active img, .button-select-list.active.screen-placeholder {
  border:1px solid #50E3C2;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.15s ease-out;
  box-shadow: 3px 3px 15px rgba(0,0,0,0.5);
}

.button-select-list.active h6 {
  color:#50E3C2;
  transition: all 0.15s ease-out;
}
.direction-list-image {
  width:100%;
}
.screen-placeholder {
  width:100%;
  padding: 84px 0;
  border-radius: 6px;
  color:rgba(255,255,255,0.2);
  background-color:rgba(255,255,255,0.1);
  text-align: center;
  font-size: 12px;
  font-style: italic;
  border:1px solid  transparent;
}
.button-select-list:hover .screen-placeholder, .button-select-list.active .screen-placeholder {
  border:1px solid #50E3C2;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.15s ease-out;
}
.modal-close {
    position: absolute;
    top: 45px;
    right: 50px;
    text-decoration: none;
    color:#fff;
    width:20px;
    height:20px;
    display:block;
    background-image: url('../images/close.png');
    background-position: center center;
    background-size: 100% auto;
    transition: all 0.15s ease-out;
    overflow: hidden;
    text-indent: -999px;
    z-index: 1000;
}
.screen-select-modal .modal-close {
  top: 25px;
  right: 30px;
}
.modal-close:hover {
    opacity:1;
    transition: all 0.15s ease-out;
}
.brand {
  color:#fff;
  text-transform: uppercase;
  opacity:0.4;
}
.main-nav {
  float:right;
}
.main-nav-project {
  margin-top:63px;
  margin-right:1px;
}
.main-nav a {
  float:left;
  width:16px;
  height:14px;
  display:block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  overflow:hidden;
  text-indent:-999px;
  margin-right:20px;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.15s ease-out;
}
.main-nav a:hover {
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.15s ease-out;
}
.main-nav a:last-child {
  margin-right:0;
}
.main-nav a.all_projects {
  background-image: url('../images/all_projects_hover.png');
  background-position: center right;
  background-size: auto 100%;
  height:15px;
  text-indent:0;
  font-size:12px;
  color:#fff;
  width:100px;
  opacity:0.4;
}
.main-nav a.all_projects:hover {
  text-decoration:none;
  color:#50E3C2;
  background-image: url('../images/all_projects.png');
  opacity:1;
}
.view_prototype {
  background-image: url('../images/view_prototype.png');
}
.share_prototype {
  background-image: url('../images/share_prototype.png');
}
.settings {
  background-image: url('../images/settings_hover.png');
  margin-top:1px;
  opacity:0.4;
}
.view_prototype:hover {
  background-image: url('../images/view_prototype_hover.png');
}
.share_prototype:hover {
  background-image: url('../images/share_prototype_hover.png');
}
.settings:hover {
  background-image: url('../images/settings.png');
  opacity:1;
}
.new-screen-button {
  background-image: url('../images/nav-add.png');
  pointer-events: all;
}
.new-screen-button:hover {
  background-image: url('../images/nav-add_hover.png');
}
.mass-upload-button {
  background-image: url('../images/mass-upload.png');
}
.mass-upload-button:hover {
  background-image: url('../images/mass-upload-hover.png');
}
.new-screen-button.active {
  background-image: url('../images/nav-add_hover.png');
  opacity: 0.2;
  pointer-events: none;
}
.clear-button-select {
  margin:10px 30px;
  border:1px dotted rgba(255,255,255,0.2);
  border-radius:6px;
  width:340px;
  padding: 84px 0;
  text-align: center;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.15s ease-out;
}
.clear-button-select:hover, .clear-button-select.active {
  border:1px solid #50E3C2;
  color:#50E3C2;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.15s ease-out;
}
.image-upload {
  padding: 10px 19px;
  border-bottom: 2px solid rgba(0,0,0,0.05);
  position:relative;
  min-height: 44px;
}
.image-upload img {
  float:left;
  width: 33px;
  margin-right:15px;
}
.image-upload span {
  margin-top: 2px;
  font-style: italic;
  font-size: 12px;
  opacity: 0.7;
  display: block;
  min-height:17px;
  float: left;
}
/*.image-upload button {
  background-color: transparent;
  border: 1px solid #50E3C2;
  position: absolute;
  top: 6px;
  right: 19px;
  font-size: 12px;
  padding: 4px 7px;
  text-transform: uppercase;
}*/
.image-upload button:hover {
  background-color: #50E3C2;
  color:#fff;
}
.modal {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:100px;
  background-color: #292D33;
  z-index: 1000;
  display: block;
  opacity:0;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.15s ease-out;
  pointer-events: none;
}
.modal h1 {
  color:#fff;
  text-align: center;
  margin-bottom: 45px;
}
.modal.active {
  opacity:1;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.15s ease-out;
  pointer-events: all;
}
#sharable_link_id {
  opacity:0;
  position:absolute;
  top:0;
  left:0;
}
.project_name_item, .new_project_name_item {
  float:left;
  display:block;
  width: 22%;
  background-image: url('../images/project-icon.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
  margin-right: 25px;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.15s ease-out;
  position: relative;
}
.new_project_name_item {
  background-image: url('../images/project-icon-add.png');
}
.project_name_link, .new_project_name_link {
  display:block;
  width:100%;
  padding:10px;
  margin-top:52%;
  font-size:14px;
  color:#50E3C2;
}
.project_name_item:hover, .new_project_name_item:hover {
  background-image: url('../images/project-icon_hover.png');
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.15s ease-out;
}
.new_project_name_item:hover {
  background-image: url('../images/project-icon-add-hover.png');
}
.project_name_item:hover .project_name_link, .new_project_name_item:hover .new_project_name_link {
  color:#50E3C2;
  text-decoration:none; 
}
#all-project-list, .new_project_name_item, .modal-select-close h1 {
  opacity:1;
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}
.edit-prototype, .delete-prototype {
    width: 18px;
    height: 18px;
    overflow: hidden;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100% auto;
    text-indent: -999px;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    margin: 25% 6% 0 6%;
}
.edit-prototype {
  background-image:url('../images/edit-prototype.png');
}
.edit-prototype:hover {
  background-image:url('../images/edit-prototype-hover.png');
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}
.delete-prototype {
  background-image:url('../images/delete-prototype.png');
}
.delete-prototype:hover {
  background-image:url('../images/delete-prototype-hover.png');
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.all_projects_modal.hide-content #all-project-list, .all_projects_modal.hide-content .new_project_name_item, .all_projects_modal.hide-content h1, .all_projects_modal.hide-content p {
  opacity:0;
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
  pointer-events: none;
}
.all_projects_modal {
  text-align: center;
}
.new_project_title {
    padding: 180px 45px;
    text-align: center;
    opacity:0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
    pointer-events: none;
}
.all_projects_modal.hide-content .new_project_title {
    opacity:1;
    -webkit-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
    pointer-events: all;
}
.new_project_title label {
  font-size:12px;
  font-weight:300;
}
.new_project_title input {
  display: block;
  background-color:transparent;
  border:0;
  border-bottom:1px solid rgba(255,255,255,0.2);
  padding:20px;
  font-size:36px;
  font-weight:100;
  color:#fff;
  margin:5px auto;
  min-width: 700px;
}
.new_project_title.error label {
  color:#FF6F6F;
}
.new_project_title.error input {
  border-bottom:1px solid #FF6F6F;
}
.new_project_title button {
  margin: 25px 10px;
  font-size: 14px;
  padding: 5px 15px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid rgba(255,255,255,0.2);
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}
.new_project_title button:hover {
  background-color:#50E3C2;
  border: 1px solid #50E3C2;
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}

.new-screen-add-icon {
    float: right;
    margin-right: 30px;
    display: block;
    width: 25px;
    margin-top: 43px;
    opacity: 0.3;
    -webkit-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
}

.new-screen-add-icon img {
  width: 100%;
}

.selected-image-url-button {
  float:right;
  font-size:12px;
  width: 77px;
}

.alert-notification {
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  display: none;
  text-align:center;
}
.alert-notification span {
  padding:20px 35px;
  background-color:#50E3C2;
  color:#222;
  font-size: 16px;
  display: inline-block;
}
#clear-uploaded-image {
    margin-left: 18px;
    font-size: 10px;
    float: left;
    margin-top: 0px;
    padding: 3px 6px 2px 6px;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 100px;
    color:#5D6774;
    -webkit-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
    text-decoration: none;
    display: none;
    opacity: 0.5;
}
#clear-uploaded-image:hover {
  color:#50E3C2;
  border: 1px solid #50E3C2;
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
  text-decoration: none;
  opacity: 1;
}
#clear-uploaded-image.active {
  display: block;
}

.default-screen-info {
  padding: 100px 25px;
  text-align: center;
}


.default-screen-info .view_prototype, .default-screen-info .share_prototype {
  background-image: none;
}

.disable {
  opacity:0.3;
  pointer-events: none;
}

.confirm-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  background-color:rgba(41,45,51,0.85);
  text-align: center;
  z-index: 10000;
  display: none;
}
.confirm-modal-container {
  width:500px;
  margin:200px auto;
  background-color:#fff;
  border-radius: 5px;
  padding:35px 50px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
}

.confirm-modal-container a {
    margin: 25px 10px;
    font-size: 14px;
    padding: 8px 18px;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,0.3);
    -webkit-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
}
.confirm-modal-container a:hover {

}
.all_projects-header p {
  text-align: center;
}
.default-screen-info h3 {
  background-repeat: no-repeat;
  background-size: auto 60%;
}

.build-default {
  background-image: url(../images/nav-add.png);
  background-position: 115px 5px;
}
.view-default {
  background-image: url(../images/view_prototype.png);
  background-position: 117px 5px;
}
.share-default {
  background-image: url(../images/share_prototype.png);
  background-position: 105px 5px;
}
